.hero{
    background-image:url(../../assets/6b24d16c8f8b19fedc2930332e924ae3.jpeg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative;    
}
.main1 {      
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;    
}
.fimg1{
    background-image:url(../../assets/eeb8f98032e5e2b9bd9d84137bbf9d6e.jpeg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fimg2{
    background-image:url(../../assets/e5cc03367af5eb6766025000d1108f3d.jpeg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fimg3{
    background-image:url(../../assets/b2a3882779d03355c1e1da861bab3d1d.jpeg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}